<a href="https://colab.research.google.com/github/buenaflorJ-nine/58002OOP/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

for loop through string

In [5]:
for x in "week": # It goes through 1 by 1
  print(x)

w
e
e
k

for loop using break statement

In [7]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [13]:
for x in week:
  if x == "Thursday": 
    print(x)
    break

Thursday

range() function

In [15]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested loops

In [20]:
adjective = ["red", "big", "tasty"]
fruits = ["Apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red Apple
red banana
red cherry
big Apple
big banana
big cherry
tasty Apple
tasty banana
tasty cherry

for while loop

In [25]:
i = 1
while i <= 6:
  print(i)
  i == 3
  i+=1

1
2
3
4
5
6

while loop for breaking statement

In [27]:
i = 1
while i <= 6:
  if i == 3:
    print(i)
    break
  i+=1

3

Application 1

In [31]:
for x in range(0,11):
  print("Hello ", x)

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

Application 2

In [30]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9