<a href="https://colab.research.google.com/github/buenaflorJ-nine/58002OOP/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
# Comparison/Relational, Logical and arithmetic
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [5]:
a = 10 
b = 9
print(a>b) #The same process and output
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() function

In [8]:
print(bool(1))
print(bool("Character"))
print(bool(0))
print(bool(None)) # this is like a zero, a null 
print(bool([]))

True
True
False
False
False

Function can return a boolean

In [22]:
def myFunction():
  return False
print(myFunction())

False

In [19]:
def myFunction():
  return False
if myFunction():
  print("Yes!")
else:
  print("No!")

No!

In [23]:
print(10>9)
a = 6
b = 7
print(a==b)
print(a!=a) #!= This is not equal to

True
False
False

Python Operators

In [29]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10%3)
print(10/3)
print(10//3) #Floor Division
print(10**2) #This is a power rule

15
5
50
2.0
0
1
3.3333333333333335
3
100

Bitwise Operators

In [36]:
# & | ~ << >>
a = 60 
b = 13
print(a>>2)
print(b<<1)

15
26

Python Assignment Operators

In [47]:
x = 1
x+=3 #As x = x + 3, you 
print(x)
x = 1 #This resets the value of x
x-=3
print(x)

4
-2

In [48]:
print(x) #This remember from the last cell that you run (if you haven't run this yet)

-2

Logical Operators

In [49]:
x = True
y = True

print(x and y)
print(x or y)
print(not(x or y))

True
True
False

Identity Operators

In [51]:
print(x is y)
print(x is not y)

True
False

Application 1
Create an arithmetic calculator (MDAS)

In [93]:
print("-------------------")
print("Choose operator")
print("1 for +")
print("2 for -")
print("3 for *")
print("4 for /")
print("-------------------")
b = input()
print("Choose your First number")
a = int(input())
print("Choose your Second number")
c = int(input())

if b == '1':
  print("= ", a+c)

if b == '2':
  print("= ", a-c)

if b == '3':
  print("= ", a*c)

if b == '4':
  print("= ", a/c)

if b >= '5':
  print("Error")
  print("Choose only 1 to 4")

-------------------
Choose operator
1 for +
2 for -
3 for *
4 for /
-------------------
5
Choose your First number
1
Choose your Second number
2
Error
Choose only 1 to 4